<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Creditos</h1>
    <p>Mi nombre es Marcelo Angel Fanego, soy psicólogo y ¡aprendiz de programador web!</p>
  </body>
</html>
